<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Knot test.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>53C3694A47DAF0FB9ED5899AD559BD6FC3DE9026</string>
				<key>dateExpires</key>
				<string>7/5/27</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>53C3694A47DAF0FB9ED5899AD559BD6FC3DE9026</string>
						<key>dateExpires</key>
						<string>7/5/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAnalytics.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KG5DVZZN8T</string>
						<key>name</key>
						<string>Meenakshi Sharma</string>
					</dict>
					<key>versionNumber</key>
					<string>12.12.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>3.5.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>53C3694A47DAF0FB9ED5899AD559BD6FC3DE9026</string>
						<key>dateExpires</key>
						<string>7/5/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAdsOnDeviceConversion.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KG5DVZZN8T</string>
						<key>name</key>
						<string>Meenakshi Sharma</string>
					</dict>
					<key>versionNumber</key>
					<string>3.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>53C3694A47DAF0FB9ED5899AD559BD6FC3DE9026</string>
						<key>dateExpires</key>
						<string>7/5/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurement.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KG5DVZZN8T</string>
						<key>name</key>
						<string>Meenakshi Sharma</string>
					</dict>
					<key>versionNumber</key>
					<string>12.12.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>53C3694A47DAF0FB9ED5899AD559BD6FC3DE9026</string>
						<key>dateExpires</key>
						<string>7/5/27</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleAppMeasurementIdentitySupport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>KG5DVZZN8T</string>
						<key>name</key>
						<string>Meenakshi Sharma</string>
					</dict>
					<key>versionNumber</key>
					<string>12.12.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>KG5DVZZN8T.personal.Knot</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>KG5DVZZN8T</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Knot test.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>23d398a6-5517-40dd-82d9-475c47317539</string>
				<key>dateExpires</key>
				<string>7/5/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: personal.Knot</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>KG5DVZZN8T</string>
				<key>name</key>
				<string>Meenakshi Sharma</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
